Лаб17/Lab17/Files/computer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="device" type="deviceType"/>
  <xs:complexType name="unitType">
    <xs:sequence>
      <xs:element name="origin">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="China"/>
            <xs:enumeration value="USA"/>
            <xs:enumeration value="Germany"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="price">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="150"/>
            <xs:enumeration value="250"/>
            <xs:enumeration value="470"/>
            <xs:enumeration value="170"/>
            <xs:enumeration value="40"/>
            <xs:enumeration value="740"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Control"/>
            <xs:enumeration value="Input"/>
            <xs:enumeration value="Output"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="energy_consumption">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="40"/>
            <xs:enumeration value="75"/>
            <xs:enumeration value="120"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="cooler_exist">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="false"/>
            <xs:enumeration value="true"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="socket"/>
      <xs:element name="critical">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="false"/>
            <xs:enumeration value="true"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="deviceType">
    <xs:sequence>
      <xs:element type="unitType" name="unit" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>